body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1 {
    position: relative;
    top: 20px;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
  .weather-app-wrapper{
    max-width: 600px;
    margin:30px auto;
  }
  .weather-app {
    padding: 20px;
    border: 1px solid green;
    border-radius: 8px;
  }
  

  .card {
   position: relative;
   left: 275px;
   bottom: 200px;
  }
  .row {
    position: relative;
    top: -125px;
  }
  .col {
    font-size: larger;
    text-align: center;
  }
  .fa-cloud {
    font-size: 50px;
  }
  .fa-cloud-rain {
    font-size: 50px;
  }
  .fa-sun {
    font-size: 50px;
  }
  