body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    color: #0f0f0f;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  

  li:first-letter {
    text-transform: capitalize;
  }
  .weather-app-wrapper{
    max-width: 600px;
    margin:30px auto;
  }
  .weather-app {
    padding: 20px;
    border: 1px solid green;
    border-radius: 8px;
  }

  .weather-temperature .icon {
    margin-right: 5px;
    height: 64px;
    width: 64px;
  }
  .weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
  }
  .weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
  }
  
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  .card {
   position: relative;
   left: 275px;
   bottom: 200px;
  }
  .row {
    margin-bottom: 20px;
  }
  .col {
    font-size: larger;
    text-align: center;
  }
  .fa-cloud {
    font-size: 50px;
  }
  .fa-cloud-rain {
    font-size: 50px;
  }
  .fa-sun {
    font-size: 50px;
  }
  